{% extends "base.html" %}
{% block content %}
 <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">check in</li>
              
              <li class="active"><a href="#">Check In</a></li>
              <li><a href="#">More</a></li>
              
              <li class="nav-header">view</li>
              
              <li><a href="/viewcurrent/">View Current Month</a></li>
              <li><a href="/viewhistory/">View History</a></li>
              
              <!-- 
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
               -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
          	{% if year and month and day %}
          	<h4>{{ year }}-{{ month }}-{{ day }}</h4>
          	{% endif %}
          	<form class="form-horizontal" action="" method="post">
          		{% if errorMsg %}
          			<div class="alert alert-error">
          				<button type="button" class="close" data-dismiss="alert">&times;</button>
          				{{ errorMsg }}
          			</div>
          		{% endif %}
          		{% if success %}
          			<div class="alert alert-success">
          				<button type="button" class="close" data-dismiss="alert">&times;</button>
          				{{ success }}
          			</div>
          		{% endif %}
          		{% csrf_token %}
          		<!-- merchandise -->
				<div class="control-group">
					<label class="control-label" for="merchandise">Merchandise</label>
					<div class="controls">
						<select id="merchandise" name="merchandise">
							{% for merchandise in allMerchandise %}
								<option {% ifequal forloop.counter 1 %} selected="selected" {% endifequal %} >{{ merchandise.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
          		<!-- quantity -->
          		<div class="control-group">
					<label class="control-label" for="quantity">Quantity</label>
					<div class="controls">
						<input type="text" id="quantity" name="quantity" value="1">
					</div>
				</div>
				<!-- location -->
				<div class="control-group">
					<label class="control-label" for="location">Location</label>
					<div class="controls">
						<input type="text" id="location" name="location">
					</div>
				</div>
				<!-- submit -->
				<div class="control-group">
					<div class="controls">
						<button type="reset" class="btn">Reset</button>
						<button type="submit" class="btn btn-success" id="post">Post &raquo;</button>
					</div>
				</div>
          	</form>
          	
          	<!-- Commission -->
          	<form class="form-horizontal" action="" method="post">
          		{% csrf_token %}
          		<div><h4>Danger Zone:</h4></div>
          		<input type='hidden' name='commission' value='true' />
          		<div class="control-group">
						<label class="control-label" for="commission">&nbsp;</label>
						<div class="controls">
          					<button type="submit" class="btn btn-warning" id="commission">Commission &raquo;</button>
						</div>
				</div>
          	</form>
          	
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>locks <span class="label label-success" size=19>{{ lock }}</span></h2>
              <p></p>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span-->
            <div class="span4">
              <h2>stocks <span class="label label-success">{{ stock }}</span></h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span-->
            <div class="span4">
              <h2>barrels <span class="label label-success">{{ barrel }}</span></h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

{% endblock %}