{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">Operation</li>
              
              <li><a href="/gunaddsalesman/">Add Saleman</a></li>
              <li><a href="#">More</a></li>
              
              <li class="nav-header">view data</li>
              
              <li class="active"><a href="#">View Current Month</a></li>
              <li><a href="/gunviewhistory/">View History</a></li>
              
              <!-- 
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
               -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        
        <div class="span9">
        	<div id="crtMonthSales"></div>
        	<table class="table table-bordered">
        		<tr><th>Merchandise</th><th>Count</th><th>Price ($)</th><th>Profit ($)</th></tr>
        		<tr>
        			<td>Locks</td>
        			<td>{{ locks.count }}</td>
        			<td>{{ locks.price }}</td>
        			<td>{{ locks.profit }}</td>
        		</tr>
        		<tr>
        			<td>Stocks</td>
        			<td>{{ stocks.count }}</td>
        			<td>{{ stocks.price }}</td>
        			<td>{{ stocks.profit }}</td>
        		</tr>
        		<tr>
        			<td>Barrles</td>
        			<td>{{ barrels.count }}</td>
        			<td>{{ barrels.price }}</td>
        			<td>{{ barrels.profit }}</td>
        		</tr>
        	</table>
        	<div class="row">
        	<div class="span6" style="height:300px;" id="merchandiseCount"></div>
        	<div class="span6" style="height:300px;" id="merchandiseProfit"></div>
        	</div>
        </div><!--/span-->
        
        
      </div><!--/row-->
      
      <script type="text/javascript">
      	$(function () {
      		$('#crtMonthSales').highcharts({
    
            chart: {
                type: 'column'
            },
    
            title: {
                text: 'Sales of Each Salesman, Group By Merchandise'
            },
    
            xAxis: {
                categories: ['{{ categories|join:"','" }}']
            },
    
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Number of Merchandise'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
    		plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: false,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.options.stack +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            legend: {
            	enabled: false
            },
            series: [
            {% for data in dataList %}
            {
            	name: '{{ data.location }}',
                data: [{{ data.countList.lockList|join:"," }}],
                stack: 'lock'
            }, {
            	name: '{{ data.location }}',
                data: [{{ data.countList.stockList|join:"," }}],
                stack: 'stock'
            }, {
            	name: '{{ data.location }}',
                data: [{{ data.countList.barrelList|join:"," }}],
                stack: 'barrel'
            } 
            {% ifnotequal forloop.counter dataList|length %}
            ,
            {% endifnotequal %}
            {% endfor %}
            ]
        });
    });
      	
      	$(function () {
        $('#merchandiseCount').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Total Count of Each Merchandise'
            },
            xAxis: {
                categories: ['Locks', 'Stocks', 'Barrels'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'count',
                data: [{{ locks.count }}, {{ stocks.count }}, {{ barrels.count }}]
            }]
      	});
    });
      	
      	$(function () {
        $('#merchandiseProfit').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true
            },
            title: {
                text: 'Profit Each Merchandise Bring'
            },
            tooltip: {
        	    formatter: function() {
    				return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
				}
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Count',
                data: [
                    ['Locks', {{ locks.profit }}],
                    ['Stocks', {{ stocks.profit }}],
                    ['Barrels', {{ barrels.profit }}],
                ]
            }]
        });
        Highcharts.numberFormat(this.percentage, 2)
    });
      	
      </script>
{% endblock %}