{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">Operation</li>
              
              <li><a href="#">Add Saleman</a></li>
              <li><a href="#">More</a></li>
              
              <li class="nav-header">view data</li>
              
              <li><a href="/gunviewcurrent/">View Current Month</a></li>
              <li class="active"><a href="#">View History</a></li>
              
              <!-- 
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
               -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        
        <div class="span9">
        
        content
        </div><!--/span-->
        
        
      </div><!--/row-->
{% endblock %}