{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">Operation</li>
              
              <li><a href="#">Add Saleman</a></li>
              <li><a href="#">More</a></li>
              
              <li class="nav-header">view data</li>
              
              <li><a href="/gunviewcurrent/">View Current Month</a></li>
              <li class="active"><a href="#">View History</a></li>
              
              <!-- 
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
               -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        
        <div class="span9">
        <form class="form-horizontal" action="" method="get" id="yearForm">
			<div class="control-group">
				<label class="control-label" for="year">Year</label>
				<div class="controls">
					<select id="year" name="year">
						{% for year in yearList %}
							<option {% ifequal year|stringformat:"s" crtViewYear %} selected="selected" {% endifequal %} >{{ year }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</form>
		
		<div id="eachMonthSales"></div>
		<div id="eachMonthProfit"></div>
		
        </div><!--/span-->
        
        
      </div><!--/row-->
      
      <script type="text/javascript">
      	$(function () {
        $('#eachMonthSales').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Monthly Totla Sales'
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Locks',
                data: [{{ locks|join:"," }}]
    
            }, {
                name: 'Stocks',
                data: [{{ stocks|join:"," }}]
    
            }, {
                name: 'Barrels',
                data: [{{ barrels|join:"," }}]
    
            },]
        });
    });
    
  $(function () {
        $('#eachMonthProfit').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Monthly Total Profit'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Profit($)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Profit',
                data: [{{ profit|join:"," }}]
            }]
        });
    });
    
    $(function () {
    	$("#year").change(function(){
			$("#yearForm").submit();
    	});
    });
    
      </script>
{% endblock %}