<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rifle Sales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href=".">Rifle Sales</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right" action="/login/" method="post">
            	{% csrf_token %}
              <input class="span2" type="text" placeholder="User name" id="uname" name="uname">
              <input class="span2" type="password" placeholder="Password" id="password" name="pwd">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    
    	{% if error %}
    	<div class="alert alert-error">
   		 <button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ error }}
		</div>
		{% endif %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Rifle!</h1>
        <p>Rifle came from Rhineland of West Germany where the hunters there have already used nearly two hundred years and cross the ocean and sea spreading to North America. Germany craftsman lived in Pennsylvania transformed them into a lighter-weight, longer-barrel rifle used by colony woodcutter using by colonial woodcutter which were the rifle we familiar with today.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>locks</h2>
          <p>Lock is the part that hits the primer or firing pin or explodes the percussion cap and causes the gun to fire.Withhold the lock, the resistance iron releases through mechanical transmission, so that the firing pin or hammer firing gunpowder.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>stocks</h2>
          <p>Stock is a component of the general rifle whose benefits cannot be overestimated. When shooting, the stock can slow or counterack the impact force of poping the bullet in the barrel and keep the balance when the gunman are shooting. With stocks, the shooting accuracy improved greatly compared with conventional rifles.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>barrels</h2>
          <p>Barrel is one of the main component parts of firearms and usually made of heat-resisting, uneasily-deformed metal tube. When the bullets are poped at the time, the expanding gas due to the gunpowder explosion or other power will push warhead through the barrel and finally become high-speed projectiles fired.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; liushuaikobe 2013</p>
      </footer>

    </div> <!-- /container -->

    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
  </body>
</html>
