{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            
              <li class="nav-header">check in</li>
              
              <li><a href="/checkin/">Check In</a></li>
              <li><a href="#">More</a></li>
              
              <li class="nav-header">view</li>
              
              <li class="active"><a href="#">View Current Month</a></li>
              <li><a href="/viewhistory/">View History</a></li>
              
              <!-- 
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
               -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        
        <div class="span9">
        
	        {% if year and month %}
	        	<h3>{{ year }} - {{ month }}</h3>
	        {% endif %}
	        
	        <table class="table table-bordered" id="crtMonthSalesTable">
	        	<tr><th>Location</th><th>Locks</th><th>Barrels</th><th>Stocks</th></tr>
	        	{% for crtMonthSales in crtMonthSalesList %}
	        		<tr>
	        			<td>{{ crtMonthSales.location }}</td>
	        			<td>{{ crtMonthSales.locks }}</td>
	        			<td>{{ crtMonthSales.stocks }}</td>
	        			<td>{{ crtMonthSales.barrels }}</td>
	        		</tr>
	        	{% endfor %}
	        </table>
	        
	        <div id="crtMonthSales"></div>
        
        </div><!--/span-->
        
        
      </div><!--/row-->
      
      <script type="text/javascript">
      	$(function () {
	    $('#crtMonthSales').highcharts({
	        data: {
	            table: document.getElementById('crtMonthSalesTable')
	        },
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: 'Data extracted from a HTML table in the page'
	        },
	        yAxis: {
	            allowDecimals: false,
	            title: {
	                text: 'Units'
	            }
	        },
	        tooltip: {
	            formatter: function() {
	                return 'liushuai';
	            }
	        }
	    });
	});
      </script>
{% endblock %}